<div class="h-[calc(83vh-3.5rem)] flex items-center justify-center bg-gray-100 text-center px-4">
  <div>
    <h1 class="text-7xl font-extrabold text-gray-800">404</h1>

    <p class="text-xl text-gray-600 mt-4">
      Oops… la página que buscas no existe
    </p>

    <a href="/" class="mt-6 inline-block rounded bg-[#FF5100] px-6 py-3 text-white font-medium hover:bg-[#ba3216] transition">
      Volver
    </a>
  </div>
</div>
